# Kafka Module Configuration
KAFKA_HOST=redpanda
KAFKA_PORT=9092
KAFKA_BOOTSTRAP_SERVERS=redpanda:9092
WEBHOOK_TOKEN=test_token_123
WEBHOOKS_CONFIG_FILE=/app/webhooks.json
CONNECTIONS_CONFIG_FILE=/app/connections.json

