# MQTT Module Configuration
MQTT_HOST=mqtt
MQTT_PORT=1883
MQTT_USER=
MQTT_PASSWORD=
WEBHOOK_TOKEN=test_token_123
WEBHOOKS_CONFIG_FILE=/app/webhooks.json
CONNECTIONS_CONFIG_FILE=/app/connections.json

