apiVersion: v1
kind: Service
metadata:
  name: webhook-service
  namespace: webhook-system
  labels:
    app.kubernetes.io/name: core-webhook-module
    app.kubernetes.io/component: service
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: core-webhook-module
  ports:
    - name: http
      port: 80
      targetPort: 8000
      protocol: TCP
